.imageAbout{
    /* outline: 1px solid black;
    outline-offset: 20px; */
   background-image: url('../images/cheff.jpg');
   background-size: cover;
   object-fit: cover;
   position: relative;
background-position: bottom;
  
height: 50vh;
width: 35vh;
}
.keep{
    width: 100%;
}
.keep:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
.ImageSide{
    position: relative;
    

}
.headerAbout{
    font-size: 3.5em;
    font-weight: 400;
}

.marginBottom{
margin-bottom: 20px;
}
/* .imageAbout::before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
border-radius: 3px;
    height: 110%;
    width: 120%;
    background-color: #262626;
    z-index: -1;
} */
.h3{
    transform: translateY(-20px);
    letter-spacing: 12px;
    font-weight: 400;
    color: white;

}
.beforSquar{
    background-color: #262626;
    height: 140%;
    width: 90%;
    position: absolute;
    top: -20%;
    left: -30%;
    z-index: -1;
   
}

.wordsSide{
   margin-left: 100px;
    width: 50%;
}
.wordsSide:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
.text{
    font-size: 1.6em;
    font-weight: 100;
    display: inline;
    
}




/* /////////////////// starting test //////////////// */

.aboutSec{
 margin-top: 100px;
  width: 100%;
  margin-bottom: 250px;

}
.aboutFirstChild{
    height: 80%;
    width:100%;
}
.headerAbout{
   
}
.divContainer{
    height: 80%;
}
.pisca{
    font-size: 1.2vw;
margin-bottom: 20px;
}
.piscasmall{
    font-size: .9vw;
    
}
.h1{
  
    font-weight: 150;
    font-size: 5vw;

    color: rgb(0, 0, 0);
    -webkit-text-stroke: #231c32;
-webkit-text-stroke-width: 1px;
}
.sideTow{
    margin-right: 50px;
}

.headerAbout{
   
}
.sideB{
    background-image: url('../images/cake2.JPG');
    background-size: cover;
    object-fit: cover;
    margin-left: 30px;
  height: 100%;
  width: 75%;
  
  /* min-height: 220px; */
  background-position: center;


}
.imageSideAbout{
    width: 50%;
}
.sideB::after{
    content: '';
    display: block;
    padding-bottom: 100%;

}
.cellImage{
    /* outline: 1px solid black;
    outline-offset: 25px; */
  width: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
    background-image: url('../images/boss.jpg');
    background-size: cover;
    object-fit: cover;
    max-height: 800px;
    animation: slideBoss 20s infinite linear;
}
.cellImage::after{
    content: '';
    padding-bottom: 100%;
    display: block;
}

@keyframes slideBoss {
    0%{
        background-image: url('../images/boss.jpg');
    }
    50%{
        background-image: url('../images/boss.jpg');
      opacity: 1;
    }
    51%{
        opacity: 0;
    }
    53%{
               background-image: url('../images/new/boss2.jpg');
               object-fit: contain;
 
    }
    54%{
        opacity: 1;
        background-image: url('../images/new/boss2.jpg');

    }
   
    90%{
        background-image: url('../images/new/boss2.jpg');
      
    }
    92%{
        
        background-image: url('../images/boss.jpg');
    }
   
    
}
.padding{
 
    padding: 20px;
}
.w90{
    width: 90%;
}
