.backgroundImg{
   max-height: 15%;
    width: 20%;
    background-image: url('../images/tablealma.jpg');
background-position: center;
background-size: cover;
object-fit: cover;
animation: slideShow 20s 2s infinite linear;
position: relative;
}

.backgroundImg:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
.headerDiv{
    height: 100%;
    width: 100%;
   
    position: absolute;
    top: -80px;
    left: -120px;

}
.h33{
    font-size: 1.5em;
   

}
.bgtest{
    background-color: bisque;
}
.headerBig{
    /* font-size: 13em; */
    font-size: 8vw;
    font-weight: 100;
    display: inline;

    color: #262626;
    /* -webkit-text-stroke: #262626;
-webkit-text-stroke-width: 3px; */

}
.smallHeader{
    font-size: 1.6em;
    letter-spacing: 8px;
    font-weight: 400;
transform: translateY(50px);
  
}

.home_btn{
    width: 200px;
    border-radius: 25%;
    
}
.btn_div{
   
   height: 100%;
}
@keyframes slideShow {
    0%{
        background-image: url('../images/tablealma.jpg');

    }
    20%{
        background-image: url('../images/tablealma.jpg');

    }
    23%{
        background-image: url('../images/6.jpg');

    }
    43%{
        background-image: url('../images/6.jpg');
    }
    46%{
        background-image: url('../images/8.JPG');
    }
    66%{
        background-image: url('../images/8.JPG');
    }
    69%{
        background-image: url('../images/9.JPG');
    }
    89%{
        background-image: url('../images/9.JPG');
    }
    94%{
        background-image: url('../images/tablealma.jpg');
    }
    
}


.fullImage{
    height: 60vh;
    width: 100%;
    background-image: url('../images/11.JPG');
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
}
.btnDiv2{

  
  
    color: #ffff;
    border: 1px solid black;
    padding: 10px 20px 10px 20px;
    outline: 1px solid white;
    outline-offset: -5px;
    background-color: black;
  
}
.btnGallery2{
    font-size: 1.6rem;
    text-decoration: none;
    color: #ffff;
}
.op{
    opacity: 0;
    visibility: hidden;
    display: none;
}