body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  font-size: 18px;
}
@media only screen and (max-width: 1050px) {
  .paddingPage{
width: 85vw !important;
  }

  }

  

  @media only screen and (max-height: 853px) {
.maxhleptop{
  max-height: 70% !important;
  margin-top: 25vh !important;
}


  }
@media only screen and (max-width: 800px) {
  .paddingPage {
    width: 90% !important;
  }
 
  .margintoponPhone{
    margin-top: 120px;
  }
  .headerBig{
    /* font-size: 13em; */
    font-size: 9vw !important;
 color: black !important;

-webkit-text-stroke-width: 0px !important;

}
.cbi{
  color: #262626 !important;
}
.imageLeft{
  width:  40vh;
position: static;

 height: 20% !important;
top: 14% !important;
 left: 20% !important;

  
}
.headerBig2{
  color: #262626 !important;
}
.imageLeft{
  width: 60vw !important;
}
.imageGalertPage{
  width: 70% !important;
}
.withd80{
  transform: translateX(0) !important;
}
.gridGallery2{
  grid-template-columns:  1fr 1fr !important;
}
.h1 {

  font-size: 7vw !important;

  -webkit-text-stroke-width: 0px !important;
}
  .headerDiv{
    top: -150px !important;
    left: -10px !important;
  }
  .withd80{
    width: 100% !important;
  }
  .links{
    display: none;
    visibility: hidden;
  }
  .centerforEnd{
    justify-content: flex-start !important;
    margin-top: 100px;
  }
  .divContainer {
    flex-direction: column !important;
  }
  .imageSideAbout{
    width: 100% !important;
  }
  .sideTow{
    margin: 0 !important;
  }
  .backgroundImg {
    width: 70% !important;
  }
  .w60{
    width: auto !important;
  }
  .h1{
    transform: translateY(0px) !important;
  }
  .headerBig{
    transform: translateY(100px) !important;
  }
  .navFirstChild{
    width: 90% !important;
  }
  body{
    overflow-x: hidden !important;
  }
  .aboutSec{
    width: 100% !important;
  }
  .pisca{
    font-size: 1.6rem !important;
  }
  .piscasmall {
    font-size: 1.6rem !important;
margin-bottom: 50px;
  }
  .twoDivs {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .padd50{
    padding: 0 !important;
  }
  .squar{
    height: 20vh !important;
    width: 50vw !important;
  }
  .map{
    width: 80vw !important;

  }
  .img{
    overflow: hidden !important;
  }
  .max-h{
    max-height: 80vh !important;
  }
  .btnDiv{
    margin-bottom: 100px !important;
  }
  .gridGallery{
    margin-top: 100px !important;
  }
  .op{
    opacity: 1 !important;
    visibility: visible !important;
    display: block !important;
  }
  .gridGallery{
    grid-template-columns: 1fr 1fr !important;
    gap: 10px !important;
  }
  .phone{
    visibility: visible !important;
    opacity: 1 !important;
    display: block !important;
  }
}